{
  "env": {
    "test": {
      "presets": ["env"]
    },
    "build": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "loose": true
          }
        ]
      ]
    }
  }
}
